/**
 *  @module         Foldergallery
 *  @version        see info.php of this module
 *  @author         cms-lab (initiated by Jürg Rast)
 *  @copyright      2010-2025 cms-lab 
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 * 
 */

/* BACKEND CSS */
 
/* fix for algos */
 .ui.grid {
    width: 100%;
}
.info {
    padding-left: 0;
    background: none;
}

/* style backend */
.spacer1 {
    width: 100%;
    height: 10px;
}

.spacer2 {
    width: 100%;
    height: 20px;
}

.spacer3 {
    width: 100%;
    height: 30px;
}
.spacer4 {
    width: 100%;
    height: 40px;
}

.fg_modify {
    font-size: 14px !important;
}

 .ui.basic.button.blank  {
	box-shadow: none !important;
	padding: 0px !important;	
}

.ui.table.cat {
	border: 0px !important;
}

.ui.table.cat tr td {
    border: 0px !important;
}	

a.dark_segment {
    color:#fff;
	text-decoration:underline;
}

a:hover.dark_segment {
	text-decoration:none;
}

tr.title  {
   font-weight: bold !important;
}

#dragableTable {text-align:center;}
#dragableTable li {list-style:none; float:left; margin: 4px; }
#dragableTable td {text-align:center; vertical-align: middle; background-color:#ddd; cursor:'move';}

td.cat1 {
    padding-left:40px !important;
}

td.cat2 {
    padding-left:80px !important;
}

td.cat3 {
    padding-left:120px !important;
}

textarea {
    padding: 6px;
}

tr.fg_cat_hidden {
    display: none;
}

input.lepsem_submit, input.lepsem_reset, input.lepsem_save {
	border: none !important;
	cursor: pointer;
}

.ui.basic.segment.fg_settings {
	max-width:700px ! important;
	margin: 0 auto;
}

label.tooltip {
	font-weight:bold;
	text-decoration:underline;
}

input.fg_settings_check {
	vertical-align: baseline !important;
	margin-right: 10px;
}

.ui.blank.button {
	padding: 0px;
	background: none;
	margin: 0px;
}

/** Aldus 2020-12-29 */
td.fg_edit_gal_display_filename {
    max-width:200px !important;
    overflow: hidden;
}