/**
 *  @module         Foldergallery
 *  @version        see info.php of this module
 *  @author         cms-lab (initiated by Jürg Rast)
 *  @copyright      2010-2025 cms-lab 
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 * 
 */

/* FRONTEND CSS */

a:focus {outline: none;}
.gallery a, .gallery img {-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;}
ul.fg_pages_nav {display: block;margin-bottom: 20px !important;padding-left: 0px;}
ul.fg_pages_nav li {display: inline;padding-right: 10px;padding-left: 15px;background: url(../images/crumbs.png) no-repeat left center;}
ul.fg_pages_nav li a.current {font-weight: bold;}
body {height: 100%;}
#fullSize {display: none;}
.gallerytitle {display: block;font-size: 150%;font-weight: bold;}
.view_title {display: block;font-size: 100%;font-weight: bold;}
.categories_title {display: block;font-size: 90%;font-style: italic;line-height: 45px;}
.categories_desc {font-size: 80%;font-style: Italic;line-height: 45px;}
.gallery ul {list-style: none;margin: 0 0 5px 0;padding: 0;}
.gallery ul li {float: left;margin: 3px;padding: 0px;list-style: none;}
.photostyle {display: block;margin: 3px;padding: 0;}
.gallery img {padding: 2px;border: 1px #ddd solid;}
.gallery img:hover {border: 1px #000 solid;}
ul.categories {list-style: none;margin: 0 0 35px 0;padding: 0;}
ul.categories li {margin: 3px;float: left;text-align: center;border: 2px #9db2b9 solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;padding:10px;}
ul.categories li a {width: 160px;height: 180px;display: block;margin: 3px;padding: 10px;}
.categories li:hover {border: 2px #313739 solid;}
.categories {display: block;margin: 3px;padding: 0;}
.categories img {margin: 3px;padding: 0px;border: 2px #000 solid;}
.clear {clear: left;padding-top: 42px;border: 0px  solid #000;border-bottom: 0px  solid #000;}
ul#lightbox li {list-style: none;}
.foldergallery-wrapper ul li {list-style: none outside none !important;}
div.foldergallery_footer {display: block;float: left;width:100%;}
div.fg_catname {display: block;width: 100%;text-align: center;font-size: 110%;}
div.foldergallery {display: block;width: 100%;text-align: center;margin-top: 10px;}
div.foldergallery img {margin-right: 9px;}
.fg_description {display: inline-block;width: 100%;text-align: center;font-style: italic;margin-bottom:12px;color: #cc9900;}
div.rootTitle, div.rootDescription {display: inline-block;width:100%;text-align: center;color:#999999;}
div.rootDescription {margin-bottom: 12px;}
.fg_gallery_title, .fg_gallery_description {display: block;width: 100%;text-align: center;}
.fg_gallery_title { font-weight: bold; color: #fbbd08; }
.fg_gallery_description { font-weight: normal; color: #d4d4d5; }
.fg_pagenav {text-align: center;}