/* SLIMBOX2 */
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer;}
#lbCenter{position:absolute;z-index: 9999;overflow: hidden;}
#lbBottomContainer{position:absolute;z-index: 9999;overflow: hidden;}
.lbLoading{background: transparent url(../images/loading.gif) no-repeat center;background-size: 32px 32px;}
#lbImage {position:absolute;left:0;top:0;border: 4px solid #fff;border-radius: 4px 4px 4px 4px;-webkit-transition: opacity 0.6s;-moz-transition: opacity 0.6s;-o-transition: opacity 0.6s;transition: opacity 0.6s;}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none;opacity:0;-webkit-transition: opacity 0.6s;-moz-transition: opacity 0.6s;-o-transition: opacity 0.6s;transition: opacity 0.6s;}
#lbPrevLink{background:transparent no-repeat 0 50%;left:0;}
#lbPrevLink:hover{background: transparent url(../images/prev.png) no-repeat 0 50%;background-size: 38px 38px;opacity:1;}
#lbNextLink{background:transparent no-repeat 100% 50%;right:0;}
#lbNextLink:hover{background: transparent url(../images/next.png) no-repeat 100% 50%;background-size: 38px 38px;opacity:1;}
#lbBottom{display: none;}
/* 
#lbCloseLink {display: block;float: right;width: 25px;height: 25px;background: transparent url(../images/close.png) no-repeat center;;outline: none;opacity:0.8;}
#lbCloseLink:hover{opacity:1;}
#lbBottom{font-family:Arial,sans-serif;font-size:12px;color:#999999;line-height:1.4em;text-align:left;border-left:none solid #fff;border-top-style:none;}
#lbCaption,#lbNumber{margin-right:71px;margin-top:5px;margin-left:5px;}
#lbCaption{font-weight:bold;}
*/